<!-- /templates/index.liquid -->

<div class="grid-uniform">

  {% for product in collections.frontpage.products limit:6 %}

    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>